:root {
    --color-white: #ffffff;
    --border-gray: #D7DDE9;
}
  
html {
    font-size: 62.5%;
}

main {
    width: 100vw;
    max-width: 100%;
}

.todo-list-container {
    width: 100%;
    min-height: 100vh;
    background: var(--color-white);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: auto;
}