.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1328px;
    height: 60px;
    top: 24px;
    left: 56px;
    padding: 0px 0px 24px 0px;
    gap: 8px;
    border: 0px 0px 1px 0px;
    opacity: 0px;
    border-bottom: 1px solid #D7DDE9;
  
    .logo {
        top: 10.21px;
        left: 43.6px;
        gap: 0px;
        opacity: 0px;
    }
  
    h1 {
        width: 284px;
        height: 29px;
        top: 3px;
        left: 522px;
        gap: 0px;
        opacity: 0px;
        font-family: 'Inter Tight';
        font-weight: 500;
        font-size: 24px;
        line-height: 29.04px;
        color: #000000;
    }
  
    p {
        width: 231px;
        height: 19px;
        top: 8px;
        left: 1094px;
        gap: 0px;
        opacity: 0px;
        font-family: 'Inter Tight';
        font-weight: 400;
        font-size: 16px;
        line-height: 19.36px;
        letter-spacing: -0.02em;
        color: rgba(0, 0, 0, 0.54);
    }
  }
  