.header-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 92vw;
    min-height: 6rem;
    padding: 0 0 2.4rem 0;
    border-bottom: 1px solid var(--border-gray);
    margin-top: 2.4rem;

    @media (min-width: 1024px) {
        flex-direction: row;
        justify-content: space-between;
    }
  
    .logo {
        top: 1.0rem;
        left: 4.3rem;
    }
  
    h1 {
        width: 28.4rem;
        height: 2.9rem;
        font-family: 'Inter Tight';
        font-weight: 500;
        font-size: 2.4rem;
        line-height: 2.9rem;
        color: #000000;
    }
  
    p {
        width: 23.1rem;
        height: 1.9rem;
        font-family: 'Inter Tight';
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 1.9rem;
        letter-spacing: -0.02em;
        color: rgba(0, 0, 0, 0.54);
    }
  }
  